# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
*.terraform.lock.hcl

# Terragrunt
terragrunt.*.tmp

# Node
**/node_modules/
**/package-lock.json

# K8s
**/kubeconfig_*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
*.key
*.pem
*.env

# Terraform lock files
*.lock.info
