# Desabilitando componentes extras para economizar recursos no Mac local
alertmanager:
  enabled: false

prometheus-pushgateway:
  enabled: false

prometheus-node-exporter:
  enabled: false

kube-state-metrics:
  enabled: false

persistentVolume:
  enabled: true
  size: "5Gi"
  # No OrbStack/K3s/Docker Desktop, deixar vazio ou usar 'standard' usa o disco do host
  storageClass: "standard" 

server:
  retention: "5d"
  replicaCount: ${prometheus_replica_count}
  
  # Recursos ajustados para ambiente local (Mac M2)
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 256Mi

serverFiles:
  prometheus.yml:
    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets:
            - localhost:9090