[defaults]
inventory = inventory/dev.yml
host_key_checking = False
gathering = smart
fact_caching = memory
stdout_callback = yaml
callbacks_enabled = profile_tasks
timeout = 60
interpreter_python = auto_silent

[winrm]
remote_tmp = C:\Windows\Temp\ansible-${random_string}
